@import './../../../commonScss/colors.scss';

.form {
    display: grid;
    grid-template-columns: auto 40px;
    margin: 0 10px 0 10px;
    box-sizing: border-box;

    &_input {
        border: 1px solid $color_grey_todo;
        background-color: $color_grey_todo;
        border-radius: 20px;
        color: $color_text_dark;
        padding: 8px;
        margin: 0 10px 0 0;

        &:focus {
            border: 1px solid $color_blue_btn;
            outline: none;
            color: $color_text_dark;
            caret-color: $color_blue_btn;
        }
    }

    &_btn {
        width: 40px;
        height: 40px;
        background-color: $color_blue_btn;
        border-radius: 50%;
        border: none;
        position: relative;

        &:after {
            content: '';
            position: absolute;
            right: 18px;
            top: 10px;
            height: 20px;
            border-right: 3px solid $color_text;
            border-radius: 10px;
        }

        &:before {
            content: '';
            position: absolute;
            right: 13px;
            top: 10px;
            height: 10px;
            width: 10px;
            border-right: 3px solid $color_text;
            border-top: 3px solid $color_text;
            transform: rotate(-45deg);
            border-radius: 3px;
        }
    }
}

.setting {
    position: absolute;
    top: -32px;
    left: 0;
    right: 0;

    &_wrp {
        display: flex;
        justify-content: space-around;
        padding: 12px;
        width: 100%;
        transform: scaleY(0);
        transform-origin: center bottom;
        background-color: $color_dark_todo;
        transition: transform .5s;

        &_visible {
            transform: scaleY(1);
        }
    }

    &_block {
        position: relative;
        flex: 1 1;
        text-align: center;

        &:hover &_btn {
            color: $color_blue_btn;
        }

        &_btn {
            color: $color_text;
            text-transform: uppercase;
            background-color: transparent;
            border: 0px solid transparent;
        }

        &:after {
            content: '';
            position: absolute;
            top: 7px;
            right: 0;
            border-right: 1px solid $color_text;
            height: 10px;
        }

        &:nth-last-child(1):after {
            content: '';
            border: none;
        }
    }
}