@import './../../../commonScss/colors.scss';

.modalCategory {
    width: 400px;
    height: 165px;
    background-color: $color_grey_todo;
    border-radius: 20px;
    z-index: 2;
    cursor: default;

    &_title {
        margin: 10px;
    }

}