$color_dark_todo: #161616;
$color_dark_todo_bottom: #252525;
$white: #FFFFFF;
$color_blue_btn: #0074e0;
$color_grey_btn: #8e8e92;
$color_text: #e4e4e4;
$color_text_2: #a2a2a2;
$color_text_3: #777;
$color_grey_todo:#F8F8F8;
$color_grey_hover:#E5E5E5;
$color_text_dark: #282828;
$color_separator: #424242;
$color_choose: #23ce88