@import './../../../commonScss/colors.scss';

.svg {
    margin-right: 10px;
    stroke: red !important;

    &:hover {
        fill: red;
    }
}

.wrp {
    padding: 25px;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_title {
        display: flex;
    }

    &_block {
        display: flex;
        align-items: center;

        &_btn {
            background-color: transparent;
            border: none;
        }

        &_close {}
    }
}

.buttons {
    display: flex;

    &_block {
        display: flex;
        align-items: center;
        background-color: $color_grey_todo;
        border: none;
        border-radius: 20px;
        padding: 0 14px;
        margin-right: 10px;
    }

    &_img {
        width: 18px;
        height: 18px;
        margin-right: 10px;
    }
}