@import './../../commonScss/colors.scss';
@import './../../commonScss/fonts.scss';

.header {
    &_wrp {
        background-color: #fff;
        padding: 10px;
        box-sizing: border-box;
    }

    &_block {
        display: flex;
        font-size: 24px;
        justify-content: space-between;

        &_date {
            display: flex;
            margin-right: 10px;

            &_p {
                margin: 10px 5px;
            }
        }

        &_choose {
            display: flex;

            &_btn {
                background-color: transparent;
                border: none;
                font-size: 20px;
                font-weight: 300;
            }
        }

    }
}

.title {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_select {
        width: 100px;
        padding: 5px;

        &_block {
            border: 1px solid $color_text_dark;
            display: flex;
            justify-content: space-around;
            align-items: center;
            border-radius: 10px;

            &_text {
                margin: 10px;

            }

            &_arrow {
                width: 5px;
                height: 5px;
                border-left: 2px solid #282828;
                border-bottom: 2px solid #282828;
                transform: rotate(-45deg);
                margin: 10px;
            }
        }

        &_list {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            align-items: stretch;
            box-sizing: border-box;
            z-index: 1;
            height: 0px;
            width: 100%;
            width: 100px;
            position: absolute;
            overflow: scroll;
            background-color: $color_grey_todo;
            border-radius: 20px;
            border: 1px solid transparent;
            margin-top: 10px;
            transform: scale(0);
            transition: all .5s;


            &_visible {
                height: 100px;
                width: 100px;
                border: 1px solid black;
                transform: scale(1);
                z-index: 3;

            }

            &_wrp {
                position: absolute;
                top: 0;
                right: 0;
                bottom: 0;
                left: 0;
            }

            &_text {

                &_btn {
                    border: none;
                    background-color: transparent;
                    margin: 5px;
                }

                &:hover {
                    background-color: $color_grey_hover;
                }
            }
        }
    }
}

.calendar {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 1px;
    background-color: $color_text_3;

    &_wrp {
        display: grid;
        height: 100vh;
        grid-template-rows: 20% 80%;
    }

    &_weekday {
        background-color: #fff;
    }

    &_cell {
        background-color: #fff;
        color: #ffffff;

        &_p {
            font-size: 14px;
            color: $color_text_3;
            text-align: center;
            margin: 0;
        }

        &_tasks {
            color: $color_text_dark;
            display: grid;
            grid-auto-flow: column;

            &_list {
                padding: 0;
                margin: 0;
                list-style-type: none;
                overflow: hidden;
                text-overflow: ellipsis;
            }

            &_one {
                text-overflow: ellipsis;
                height: 19.5px;
                overflow: hidden;
                border: none;
                border-radius: 20px;
                margin: 5px;
                padding: 0 5px;
            }

            &_task {
                background-color: $color_blue_btn;
            }

            &_btn {
                border: none;
                background-color: transparent;
            }
        }

        &_current {
            color: red;
        }
    }
}

.week {
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    overflow: scroll;

    &_weekday {
        display: flex;
        flex-direction: column;
        align-items: center;
    }
}

.day {
    display: flex;
    flex-direction: column;
    overflow: scroll;

    &_time {
        font-size: 12px;
        color: $color_text_3;
    }

    &_header {
        display: grid;
        grid-template-columns: 60px auto;
        position: sticky;
        top: 0;
        background-color: $white;
        z-index: 1;

        &_gmt {
            display: flex;
            align-items: flex-end;

            &_text {
                margin: 0;
            }
        }

        &_block {
            &_date {
                margin: 0;
                color: $color_text_3;
                display: flex;
                flex-direction: column;
                align-items: center;

                &_wrp {
                    display: flex;
                }

                &_week {
                    margin: 0;
                }

                &_day {}
            }

            &_tasks {
                max-height: 150px;
                overflow: scroll;

                &_task {
                    margin: 2px;
                    background-color: $color_blue_btn;
                    border-radius: 5px;
                    padding: 0 20px;
                }
            }
        }
    }

    &_main {
        &_time {
            position: relative;

            &_extra {
                height: 22px;
            }

            &::after {
                content: '';
                border-bottom: 1px solid grey;
                width: calc(100% - 60px);
                position: absolute;
                right: 5px;
                top: 0;
            }

            &_span {
                position: absolute;
                top: -7px;
            }
        }

        &_tasks {
            display: flex;
            justify-content: flex-end;

            &_task {
                width: calc(100% - 64px);
                box-sizing: border-box;
            }
        }
    }
}