@import './../../commonScss/colors.scss';
@import './../../commonScss/fonts.scss';

.wrp {
    display: flex;
    height: 100vh;
    flex-direction: column;
    align-items: stretch;
    justify-content: space-between;

    &_extra {
        height: 90%;
        overflow: scroll;
    }
}

.header {
    display: flex;
    justify-content: space-between;

    &_title {}

    &_sort {
        display: flex;
        align-items: center;
        margin-right: 20px;

        &_text {}

        &_btn {
            background-color: transparent;
            border: none;
        }
    }
}

.todo {
    display: flex;
    flex-direction: column;
    position: relative;
    border-radius: 20px;
    overflow: scroll;
}

.task {
    display: flex;
    justify-content: space-between;
    align-items: center;

    &_wrp {
        background-color: $color_grey_todo;
        margin: 5px;
        padding: 4px 10px;
        border-radius: 20px;
        position: relative;
        transition: all .5s;

        &:hover {
            background-color: $color_grey_hover;

        }

    }

    &_text {
        position: relative;
        width: 100%;
        margin: 5px 10px;

        &_line {
            width: 100%;
            position: absolute;
            left: 0;
            top: 50%;
            border-top: 1px solid $color_text_dark;
            transform: scale(0);
            transition: all .5s;
            transform-origin: top left;

            &_complete {
                transform: scale(1);
            }
        }

        &_edit {
            font-size: 20px;
            font-weight: 300;
        }

        &_name {
            font-size: 24px;
            font-weight: 400;
            cursor: text;

            &_disable {
                cursor: default;
            }
        }
    }

    &_info {
        display: flex;
        align-items: center;
        position: absolute;
        bottom: -5px;
        left: 0;

        &_block {
            margin: 10px;
            position: relative;
            cursor: default;

            &_txt {
                font-size: 12px;
            }

            &_logo {
                position: absolute;
                top: 7px;
                right: -14px;
            }

            &:after {
                content: '';
                position: absolute;
                top: 7px;
                right: -10.5px;
                border-right: 1px solid $color_text_dark;
                height: 10px;
            }

            &:nth-last-child(1):after {
                content: '';
                border: none;
            }
        }
    }

    &_btn {
        width: 18px;
        height: 18px;
        border-radius: 50%;
        border: 1px solid $color_text_2;
        background-color: transparent;
        position: relative;
        transition: all .5s;
        cursor: pointer;

        &_complete {
            background-color: $color_text_dark;
            cursor: pointer;
        }

        &_span {
            position: absolute;
            top: 3.5px;
            left: 3px;
            width: 8px;
            height: 4px;
            border-left: 2px solid $color_grey_btn;
            border-bottom: 2px solid $color_grey_btn;
            border-radius: 2px;
            transform: rotate(-45deg) scale(0);
            transition: all .5s;

            &_nocomplete {
                transform: rotate(-45deg) scale(1);
            }

        }

        &:active,
        &:hover {
            border: 1px solid $color_blue_btn;


        }

        &:active>&_span,
        &:hover>&_span {
            border-left: 2px solid $color_blue_btn;
            border-bottom: 2px solid $color_blue_btn;
        }

    }

    &_delete {
        width: 18px;
        height: 18px;
        border: 1px solid $color_grey_btn;
        border: none;
        border-radius: 50%;
        background-color: transparent;
        position: relative;
        transition: all .5s;
        transform-origin: center right;
        transform: scale(0);
        cursor: pointer;

        &_visible {
            background-color: $color_text_dark;
            border: 1px solid $color_grey_btn;
            transform: scale(1);

            &:hover,
            &:active {
                border: 1px solid $color_blue_btn;
            }

            &:hover:before,
            &:hover:after,
            &:active:before,
            &:active:after {
                border-bottom: 2px solid $color_blue_btn;
            }

            &:before {
                content: '';
                position: absolute;
                top: 7px;
                left: 3px;
                width: 10px;
                border-bottom: 2px solid $color_grey_btn;
                border-radius: 2px;
                transform: rotate(-45deg);
            }

            &:after {
                content: '';
                position: absolute;
                top: 7px;
                left: 3px;
                width: 10px;
                border-bottom: 2px solid $color_grey_btn;
                border-radius: 2px;
                transform: rotate(45deg);
            }
        }
    }

    &_show_more {
        position: absolute;
        bottom: 10px;
        right: 50px;
        background-color: transparent;
        border: none;
        color: $color_text_dark;
        font-size: 12px;
        z-index: 1;
        cursor: pointer;

        &:hover {
            opacity: 50%;
        }
    }

    &_block {
        height: 90%;
        overflow: scroll;

        &_title {
            display: flex;
            justify-content: flex-start;
            align-items: center;
            cursor: pointer;

            &_text {}

            &_span {
                background-color: #E5E5E5;
                border-radius: 50%;
                width: 30px;
                height: 30px;
                display: flex;
                justify-content: center;
                align-items: center;
                margin-left: 20px;
                transform: scale(0);
                transition: all .5s;

                &_visible {
                    transform: scale(1);
                }
            }
        }
    }
}

.subtask {
    display: flex;
    align-items: center;

    &_wrp {
        margin-left: 30px;
    }

    &_btn {
        border-radius: 0;
        cursor: pointer;
    }

    &_text {
        margin: 8px;
        font-size: 20px;
        font-weight: 300;
        border: 1px solid transparent;
        cursor: text;

        &_disable {
            cursor: default;
        }
    }

    &_changes {
        &_btn {
            border: none;
            border-radius: 20px;
            padding: 5px 15px;
            color: $color_text_dark;
            margin: 10px;
            cursor: pointer;

            &:hover {
                opacity: 80%;
            }
        }

        &_remind {
            background-color: crimson;
        }

        &_list {
            background-color: goldenrod
        }
    }
}

.footer {
    position: sticky;
    width: 100%;
    background-color: $color_dark_todo;
    padding: 12px 0;
    bottom: 0px;
    right: 0px;
}

.text {
    margin: 10px;
    font-size: 20px;
    cursor: default;
}