@import './../../../../commonScss/colors.scss';
@import './../../../../commonScss/fonts.scss';

.calendar {
    padding: 16px;

    &_choose {
        width: 100%;
        display: flex;
        justify-content: space-between;

        &_block {
            flex: 1 1;
            margin-right: 16px;

            &_title {
                font-weight: 400;
                text-transform: uppercase;
                margin: 0 0 5px 0;
                cursor: default;
            }
        }
    }

    &_header {
        display: flex;
        justify-content: space-between;
        cursor: default;

        &_date {
            display: flex;
        }

        &_block {
            display: flex;

            &_btn {
                background-color: transparent;
                border: none;
                cursor: pointer;

                &:hover {
                    opacity: 50%;
                }
            }
        }
    }

    &_table {
        display: grid;
        grid-template-columns: repeat(7, 1fr);
        grid-gap: 1px;
        background-color: #f0f0f0;

        &_cell {
            min-width: 28px;
            min-height: 28px;
            background-color: $color_grey_todo;

            &_btn {
                background-color: transparent;
                border: none;
                color: $color_text_dark;
                cursor: pointer;

                &_disable {
                    background-color: transparent;
                    border: none;
                    color: $color_grey_hover;
                }

                &:hover {
                    color: red;
                }
            }

            &_current {
                color: red;
            }
        }
    }
}