@import './../../../commonScss/colors.scss';
@import './../../../commonScss/fonts.scss';

.wrp {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.modal {
    background-color: #fff;
    position: absolute;
    width: 200px;
    padding: 10px;
    border-radius: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    z-index: 1;
    text-align: center;
    box-shadow: 0 1px 3px 0 rgb(60 64 67 / 30%), 0 4px 8px 3px rgb(60 64 67 / 15%);

    &_btn_close {
        position: absolute;
        top: 0;
        right: 0;
        border: none;
        background-color: transparent;
        transform: rotate(45deg);
        font-size: 30px;
        font-weight: 200;
        color: $color_text_dark;

        &:hover {
            color: red;
        }
    }

    &_p {
        margin: 5px;

        &_date {
            font-size: 24px;
        }
    }

    &_list {
        list-style-type: none;
        text-overflow: ellipsis;
        padding: 0;
        max-height: 250px;
        overflow: scroll;

        &_item {
            height: 19.5px;
            overflow: hidden;
            text-overflow: ellipsis;
            border: none;
            border-radius: 20px;
            margin: 5px;
            padding: 0 5px;
            background-color: $color_blue_btn;
        }

        &_btn {
            border: none;
            background-color: transparent;
        }
    }
}