@import './../../../commonScss/colors.scss';
@import './../../../commonScss/fonts.scss';

.modal {
    background-color: #fff;
    position: absolute;
    min-width: 190px;
    top: 0;
    // bottom: 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    z-index: 1;

    &_list {
        list-style-type: none;
        // overflow: hidden;
        text-overflow: ellipsis;

        &_item {
        text-overflow: ellipsis;
        border: none;
        border-radius: 20px;
        margin: 5px;
        padding: 0 5px;
        background-color: $color_blue_btn;
        }

        &_btn {
            border: none;
            background-color: transparent;
        }
    }
}