@import './commonScss/fonts.scss';
@import './commonScss/colors.scss';

.fixed {
  position: fixed;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
}

.app_wrapper {
  box-sizing: border-box;
  position: relative;
  font-family: $font-inter;
  font-weight: 300;
  color: white;
  margin: 0;
  padding: 0;
  display: grid;
  color: $color_text_dark;
  grid-template-areas: 'n c';
  grid-template-columns: 250px auto;
  max-height: 100vh;

  &_content {
    height: 100vh;
    grid-area: c;
  }
}

path { 
  fill:inherit; 
  stroke:inherit; 
}

h2 {
  margin: 10px;
  font-size: 36px;
  font-weight: 600;
  font-family: $font-inter;;
}

h3 {
  margin: 10px;
  font-size: 30px;
  font-weight: 500;
  font-family: $font-inter;;
}

button {
  font-family: $font-inter;
}