@import './../../commonScss/colors.scss';

.nav {
    grid-area: n;
    background-color: $color_dark_todo;
    color: white;
    padding: 20px;
    position: absolute;
    top: 0;
    bottom: 0;
    width: calc(100% - 40px);

    &_img {
        margin-right: 20px;
    }

}

.name {
    display: flex;
    align-items: center;
    padding-bottom: 40px;

    &_img {
        width: 40px;
        height: 40px;
    }

    &_text {
        cursor: default;
    }
}

.item {
    margin: 20px;
    display: flex;
    min-width: 130px;
    white-space: nowrap;

    &_a_active {
        color: $color_blue_btn;
        font-style: 18px;
        font-weight: 500;
        text-decoration: none;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;
    }
    
    &_a_inactive {
        color: white;
        font-style: 18px;
        font-weight: 500;
        text-decoration: none;
        max-width: 130px;
        overflow: hidden;
        text-overflow: ellipsis;
        cursor: pointer;

        // &:hover {
        //     opacity: 50%;
        // }
    }

    // &_a {
    //     // color: #FFF;
    //     text-decoration: none;
    //     max-width: 130px;
    //     overflow: hidden;
    //     text-overflow: ellipsis;
    //     cursor: pointer;

    //     &:hover {
    //         opacity: 50%;
    //     }
    // }
}

.today {
    position: relative;

    &_img {}

    &_num {
        position: absolute;
        font-size: 10px;
        top: 8px;
        left: 4px;
    }
}

.categories {
    overflow: scroll;

    &_title {
        display: flex;
        justify-content: space-between;
        align-items: center;
        margin: 20px;

        &_name {
            margin: 0;
            font-size: 20px;
            cursor: pointer;

            &:hover {
                opacity: 50%;
            }

        }

        &_count {
            position: absolute;
            top: 0px;
            left: -13px;
            font-size: 12px;
            transform: scale(1);
            transition: all .5s;
        }

        &_btn {
            font-size: 22px;
            border: none;
            background-color: transparent;
            color: $color_text;
            transform: scale(1);
            transition: all .5s;
            cursor: pointer;

            &:hover {
                opacity: 50%;
            }

            &_wrp {
                position: relative;
                z-index: 3;
            }

            &_hidden {
                transform: scale(0);
            }
        }
    }
}

.categoryItem {
    display: flex;
    justify-content: space-between;

    &_btn {
        margin-right: 10px;
        background-color: transparent;
        border: none;
        color: $color_text;
        cursor: pointer;

        &:hover {
            opacity: 50%;
        }
    }
}

.logout {
    background-color: transparent;
    text-transform: uppercase;
    color: $color_text;
    border: 1px solid $color_text;
    margin: 0 0 20px 20px;
    padding: 10px 20px;
    border-radius: 20px;
    cursor: pointer;
    position: fixed;
    bottom: 10px;
    left: 10px;

    &:hover {
        opacity: 50%;
    }
}