@import './../../../commonScss/colors.scss';


.formCategory {
    display: flex;
    flex-direction: column;

    &_input {
        align-self: center;
        width: calc(100% - 32px);
        background-color: transparent;
        border: 1px solid $color_grey_hover;
        outline: none;
        border-radius: 20px;
        height: 30px;
        margin: 10px;
        padding: 5px 10px;

        &:hover {
            border: 1px solid $color_text_dark;
        }

        &_error {
            border: 1px solid red;
        }
    }

    &_footer {
        background-color: $color_grey_hover;
        height: 50px;
        border-radius: 0 0 20px 20px;
        display: flex;
        justify-content: space-between;
        align-items: stretch;
        margin-top: 1px;
        overflow: hidden;

        &_btn {
            background-color: transparent;
            border: none;
            flex: 1 1;
            font-size: 16px;
            font-weight: 400;
            transition: all .5s;
            cursor: pointer;

            &:hover {
                background-color: $color_text_2;
            }
        }

        &_line {
            border-left: 1px solid $color_separator;
            align-self: center;
            height: 25px;
        }

    }
}